<div class="navbar-fixed">
  <nav class="{{ site.colors.main }}"  role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo center"><img src="/img/{{ site.logo }}" alt="{{ site.title }}"></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">enlace</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      </div>
    </nav>
</div>
